@import '../../scss/variables';
@import '../../scss/container';
@import '../../scss/fonts';
@import '../../scss/media';
@import '../../scss/reset';

.root {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #fe5f1e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    @include mt(0.5s);
    &:hover {
      background: #fe5f1e;
      color: #fff;
    }
  }
  :global {
    .selected {
      a {
        background: #fe5f1e;
        color: #fff;
      }
    }
  }
}
