@font-face {
  font-family: 'inter-regular';
  src: local('Inter-Regular'), url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'inter-semibold';
  src: local('Inter-SemiBold'), url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'pro-regular';
  src: local('SF-Pro-Text-Regular'),
    url('../assets/fonts/SF-Pro-Text-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pro-semibold';
  src: local('SF-Pro-Text-Semibold'),
    url('../assets/fonts/SF-Pro-Text-Semibold.ttf') format('truetype');
}
